# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# Ignore all files or directory but init.el and init/(except init/custom.el)
/*
!.gitignore
!README.md
!LICENSE
!/init/
!/init.el
/init/custom.el